@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
  background-image: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.content-header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.omni-title {
  font-size: 36px;
  font-weight: bold;
  color: #106AC7;
  text-align: center;
}

.omni-sub {
  font-size: 24px;
  font-weight: 400;
  color: #106AC7;
  text-align: center;
}

.omni-about {
  font-weight: 400;
  color: #106AC7;
}

.content {
  padding-bottom: 50px;
}

.textabout {
  font-size: 18px;
  font-weight: 200;
  color: #505050;
}

.heada {
  padding-top: 13px;
  padding-left: 30px;
  padding-bottom: 0;
  padding-right: 0;
  background-image: none;
}

.btn-link {
  color: #106AC7;
  background-color: transparent;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: 400;
  padding-left: 25px;
}

.btn-link:hover {
  color: #106AC7;
  background-color: transparent;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: 400;
  padding-left: 25px;
}

.overflow-wrap {
  display: inline-block;
  max-width: 90%;
  height: 30px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  background: #FCFCFC;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px 0 rgba(176, 176, 176, 0.3);
  padding: 20px;
  margin-bottom: 50px;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
}

.card-body {
  font-size: 18px;
  font-weight: 400;
}

#other {
  display: none;
}

.draw {
  display: none;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  color: #000000;
}

.hover:hover {
  background-color: red;
}