@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.navlog {
  font-size: 16px;
  margin-right: 20px;
  font-weight: bold;
  color: #1e88f5 !important;
}

.btn-prim-custom {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #106AC7 !important;
  font-size: 16px;
}

.btn-prim-custom:hover {
  background-color: #064B91 !important;
}

.navlog:hover {
  color: #064B91 !important
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}


/*HEADER*/
.heads {
  background-image: url(../image/8.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.heads-guru {
  background-image: url(../image/7.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.heads-siswa {
  background-image: url(../image/DSC_0222-1000x514.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.row-property {
  width: 1000px;
  margin: 0 auto;
}

.title-top {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.sub-title {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 50px;
}

.btn-custom {
  width: 240px;
  border-radius: 50px;
  background-color: #fff;
  border: 2px solid #106AC7;
  color: #106AC7;
  font-size: 20px;
  font-weight: 800;
}

.img-property {
  width: 320px;
}


/*CONTENT ONE*/
.container-one {
  max-width: none;
}

.img-bg-one {
  background-image: linear-gradient(-224deg, #48C6EF 0%, #6F86D6 100%);
  padding-top: 100px;
  padding-bottom: 100px;
}

.img-content-one {
  width: 480px;
}

.text-content-one {
  width: 500px;
  margin: 0 auto;
}

.title-top-content-one {
  color: #106AC7;
  margin-bottom: 50px;
}

.sub-title-content-one {
  font-size: 22px;
  font-weight: 400;
  color: #106AC7;
  margin-bottom: 50px;
}


/*CONTENT TWO*/
.container-two {
  max-width: none;
}

.img-bg-two {
  background-image: linear-gradient(-225deg, #FB3A3C 0%, #F97A51 41%, #E14FAD 100%);
  padding-top: 184px;
  padding-bottom: 184px;
}

.img-content-two {
  width: 480px;
}

.text-content-two {
  width: 500px;
  margin: 0 auto;
}

.title-top-content-two {
  color: #106AC7;
  margin-bottom: 50px;
}

.sub-title-content-two {
  font-size: 22px;
  font-weight: 400;
  color: #106AC7;
  margin-bottom: 50px;
}


/*CONTENT THREE*/
.content-three {
  background-image: linear-gradient(-136deg, #0E76EF 0%, #2E8DF6 52%, #137BF5 100%);
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-btm {
  color: #fff;
}



/*FOOTER*/
.secfoot {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #106AC7;
}

.secfoot h2 {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}

.txtsecfoot {
  color: #ffffff;
  font-weight: 600;
  margin-left: 70px;
}


/*footer*/
.infooter {
  padding-top: 58px;
  padding-bottom: 18px;
  background-color: #505050;
}

.linkfooter {
  color: #ffffff;
  font-weight: 100;
  opacity: 0.5;
}

.linkfooter:hover {
  color: #ffffff;
  font-weight: 100;
  fill-opacity: unset;
  text-decoration: none;
}


/* MEDIA QUERIES */
@media (max-width: 575.98px) {
  .img-property {
    width: 230px;
  }

  .heads h1,
  h3 {
    text-align: center;
  }

  .btn-custom {
    margin: auto;
  }

  .row-property {
    width: auto;
  }

  .img-content-one {
    width: 330px;
  }

  .text-content-one {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content-one h2,
  h3 {
    text-align: center;
  }

  .img-content-two {
    width: 330px;
  }

  .text-content-two {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content-two h2,
  h3 {
    text-align: center;
  }

  .content-three h2 {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .img-property {
    width: 260px;
  }

  .heads h1,
  h3 {
    text-align: center;
  }

  .btn-custom {
    margin: auto;
  }

  .row-property {
    width: auto;
  }

  .img-content-one {
    width: 380px;
  }

  .text-content-one {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content-one h2,
  h3 {
    text-align: center;
  }

  .img-content-two {
    width: 380px;
  }

  .text-content-two {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content-two h2,
  h3 {
    text-align: center;
  }

  .content-three h2 {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .img-property {
    width: 260px;
  }

  .heads h1,
  h3 {
    text-align: center;
  }

  .btn-custom {
    margin: auto;
  }

  .row-property {
    width: auto;
  }

  .img-content-one {
    width: 380px;
  }

  .text-content-one {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content-one h2,
  h3 {
    text-align: center;
  }

  .img-content-two {
    width: 380px;
  }

  .text-content-two {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content-two h2,
  h3 {
    text-align: center;
  }

  .btn-custom {
    margin-top: 0;
  }

  .content-three h2 {
    text-align: center;
    margin-bottom: 25px;
  }
}